*{
    margin: 0;
    padding: 0;
}
a{
    list-style: none;
}
.clear{
    clear: both;
}
header{
    width: 1380px;
    height: 70px;
    transition-property: height;
}
ul{
    list-style: none;
}
.logo{
    float: left;
    margin-top:20px;
    margin-left: 190px;
}
.logo img{
    float: left;
    width: 35px;
    height: 25px;
}
header p{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 25px;
    list-style: none;
    color:#2f2e2e;
    font-weight: 600;
}
.menu{
    float: right;
    margin-top: 18px;
    margin-right: 209px;
    width:41px;
    height:33px;
    display: block;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}
.menu:hover,:visited{
    background-color:#dddddd;
}
.menu img{
    padding-left: 3px;
    padding-top: 4px;
    width: 35px;
    height: 25px;
}
.menu1 ul{
    padding: 0px;
    height: 60px;
    width: 1380px;
    top: 70px;
    position: absolute;
    background-color:#ffffff;
    z-index: 1;
}
.menu1 ul li{
    float: left;
    margin-top: 20px;
    padding-left: 20px;
    list-style: none;
    position: relative;
}
.menu1 ul li a{
    list-style: none;
    color: #2f2e2e;
    text-decoration: none;
    font-size: 15px;
}
.beijing{
    width: 1380px;
    height: 750px;
}
.beijing img{
    width: 1380px;
    height: 750px;
    z-index: 0;
    position: absolute;
}
.beijing .son1{
    height: 505px;
    width: 360px;
    background-color: #ffffff;
    position: relative;
    top: 80px;
    left: 480px;
}
.beijing .son2{
    position: relative;
    height: 320px;
    width: 250px;
    top: 50px;
    left: 52px;
}
.beijing .son2 P{
    font-size: 95px;
    word-break: break-all;
    line-height: 100px;
}
.beijing .son3{
    position: relative;
    height: 80px;
    width: 80px;
    left: 620px;
    top: -15px;
}
.beijing .son3 img{
    height: 70px;
    width: 70px;
}
.beijing .son3 img:hover{
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transition-duration: 0.5s;
}
 .bottem{
    border-bottom: 5px solid #f4a72f;
    height: 10px;
    width: 50px;
    margin-top: 4px;
    margin-left: 645px;
}
 /******关于我们*****/
.about{
    height: 300px;
    width: 1380px;
}
.about h2{;
    margin-left: 620px;
    margin-top: 40px;
}
 .bottem{
    border-bottom: 5px solid #f4a72f;
    height: 10px;
    width: 50px;
    margin-top: 4px;
    margin-left: 640px;
}
.about .son1{
    float: left;
    margin-left: 250px;
    margin-top: 50px;
    height: 300px;
    width: 400px;
}
.about .son1 .grandson1{
    width: 390px;
    height: 150px;
}
.about .son1 .grandson1 p{
    font-size: 50px;
}
.about .son1 .grandson3{
    width: 250px;
    height: 100px;
}
.about .son1 .grandson3 p{
    font-size: 15px;
    padding-top: 27px;
}
.about .son2{
    float: left;
    margin-left: 100px;
    margin-top: 70px;
    height: 400px;
    width: 400px;
}
.about .son2 .grandson1{
    float: left;
    height:180px;
    width: 400px;
}
.about .son2 p{
    font-size: 14px;
    font-weight: 500;
}
.about .son2 .grandson2{
    float: left;
    width: 400px;
    height: 180px;
}
.about .son2 .grandson2 img{
    width: 400px;
    height: 60px;
}
/*****底部*****/
footer{
    float: left;
    width: 1360px;
    height: 700px;
    margin-top: 100px;
}
footer img {
    width: 1360px;
    height: 700px;
    padding: 0;
    position: absolute;
}
footer .son1{
    position: relative;
    width: 1360px;
    height: 700px;
    padding: 0;
    background-color: #2f2e2e;
    opacity: 0.5;
}
footer .son2{
    position: relative;
    width: 1000px;
    height: 300px;
    margin-left: 200px;
    margin-top: -600px;
}
footer .son2 li{
    position: relative;
    float: left;
    width: 140px;
    height: 150px;
    padding:0;
}
footer .son2 li img{
    width: 120px;
    height: 100px;
}
footer .son3{
    position: relative;
    width: 250px;
    height: 250px;
    margin-left: 550px;
    margin-top: 5px;
}
footer .son3 img{
    width: 250px;
    height: 250px;
    transition: box-shadow 0.4s , top 0.4s;
}
footer .son3 img:hover{
    box-shadow: 0px 10px 35px rgba(249, 238, 238, 0.3);
    position: relative;
    top:-6px;
}

